Implement additional section processing

This is part of RFC 1035 I left out because it doesn't look like many real-world DNS servers do it any more.  I guess to save space, since this information is always optional.


Note that [section 9 of RFC 2181](https://datatracker.ietf.org/doc/html/rfc2181#section-9) clarifies that the TC flag should *not* be set if only the additional section is truncated.