Review RFC 2065 & consider implementing

[RFC 2065](https://datatracker.ietf.org/doc/html/rfc2065) is the DNSSEC RFC.  Note that [section 5.3 of RFC 2181](https://datatracker.ietf.org/doc/html/rfc2181#section-5.3) clarifies some aspects of RFC 2065.